@import "../../components/styles/global/Font.module.scss";

.division1 {
    width: 100%;
    min-height: 600px;
}

.division2 {
    width: 100%;
    min-height: 500px;
    background-color: white;
    @include fontePadrao;

    .tituloContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .produtosContainer {
        width: 100%;
        display: grid;
    }
}

.division3 {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include fontePadrao(-2);
    text-align: center;
}