@import "../../components/styles/global/Font.module.scss";

.division1 {
    width: 100vw;
    min-height: 600px;
    overflow: hidden;
}

.division2 {
    min-height: 500px;
    background-color: white;
    @include fontePadrao;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;

    overflow: hidden;

    .produtosContainer {
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 30px;
    }
}

.division3 {
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include fontePadrao(-2);
    text-align: center;
    overflow: hidden;
}