@import "../../components/styles/global/Font.module.scss";

.division1 {
    width: 100vw;
    height: 80em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(min-width:320px) and (max-width:480px) {
        height: 20em;
    }

    @media(min-width:481px) and (max-width:768px) {
        height: 20em;
    }

    @media(min-width:769px) and (max-width:1200px) {
        height: 40em;
    }

    @media(min-width:1200px) {
        height: 80em;
    }
}

.division2 {
    min-height: 500px;
    background-color: white;
    @include fontePadrao;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;

    overflow: hidden;

    .produtosContainer {
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 30px;
    }

    h1 {
        font-weight: bold;
    }
}

.division3 {
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    @include fontePadrao(-2);
    text-align: center;
    overflow: hidden;
}