@mixin fontePadrao($valor: null) {
    font-family: Arial, Helvetica, sans-serif;

    @media (max-width: 320px) {
        font-size: 6px + $valor;
    }

    @media (min-width: 320px) and (max-width: 480px) {
        font-size: 8px + $valor;
    }

    @media (min-width: 481px) and (max-width: 768px) {
        font-size: 10px + $valor;
    }

    @media (min-width: 769px) and (max-width: 1200px) {
        font-size: 14px + $valor;
    }

    @media (min-width: 1200px) {
        font-size: 18px + $valor;
    }
}